
:host
  align-items: center
  display: flex
  border: solid 1px #eee
  border-radius: 8px
  cursor: pointer

  main, footer
    padding: 8px

  main
    align-items: center
    display: flex
    width: 100%

  input
    margin-inline-end: 16px

  div
    header
      font-weight: bold

    p
      color: #454545
      margin: 8px 0 0
