<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list>
      <!-- links -->
      <mat-list-item
        *ngFor="let link of filteredLinks"
        [routerLink]="link.href"
        (click)="drawer.close()"
      >
        <mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon>
        {{ link.title }}
      </mat-list-item>

      <!-- profile -->
      <mat-list-item routerLink="/profile" (click)="drawer.close()" end>
        <mat-icon>account_circle</mat-icon>
        Profile
      </mat-list-item>

      <!-- sign out -->
      <mat-list-item
        *ngIf="signedIn"
        (click)="signOut()"
        (click)="drawer.close()"
      >
        <mat-icon>logout</mat-icon>
        Sign out
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span>Todos</span>
      <span class="spacer"></span>
      <button
        *ngIf="signedIn"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        routerLink="/profile"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
