<header>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput [formControl]="searchKeyFormControl" placeholder="Search" />
  </mat-form-field>
</header>

<todo-list
  [todos]="filteredTodos"
  [actions]="actions"
  (onAction)="onListAction($event)"
></todo-list>

<footer>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [formControl]="titleFormControl" placeholder="Title" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Body</mat-label>
    <textarea
      matInput
      [formControl]="bodyFormControl"
      placeholder="Body"
    ></textarea>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
    (click)="addTodo()"
  >
    Add
  </button>
</footer>
