<header>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput [formControl]="searchKeyFormControl" placeholder="Search" />
  </mat-form-field>
</header>

<todo-list
  [todos]="filteredTodos"
  [actions]="actions"
  (onAction)="onListAction($event)"
></todo-list>

<footer>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [formControl]="titleFormControl" placeholder="Title" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Body</mat-label>
    <input matInput [formControl]="bodyFormControl" placeholder="Body" />
  </mat-form-field>

  <button mat-fab color="primary" (click)="addTodo()">
    <mat-icon>post_add</mat-icon>
  </button>
</footer>

<nav>
  <button (click)="signOut()">Sign out</button>
</nav>
